OPERATOR_ID=0.0.8639605 #your account id, can be retrived from https://portal.hedera.com/dashboard
OPERATOR_KEY=3030020100300706052b8104000a042204205d7f2e0dc58bf9a1bce8143cd2ebb8e532c8aa5f8679042694cc6471854db5eb#your testnet private key, can be retrieved from https://portal.hedera.com/dashboard
NETWORK=testnet #eg testnet/local/previewnet/mainnet, default to testnet or local

# RECIPIENT_ID=<RECIPIENT_ID> #optional
# RECIPIENT_KEY=<RECIPIENT_KEY>  #optional
# ADMIN_KEY=<ADMIN_KEY>  #optional
# TOKEN_ID=<TOKEN_ID>  #optional
# TOKEN_NAME=<TOKEN_NAME>  #optional
# TOKEN_SYMBOL=<TOKEN_SYMBOL>  #optional
# TOPIC_ID=<TOPIC_ID>  #optional
