name: PythonBot - Office Hour Reminder

on:
  # push:
  schedule:
    - cron: "0 10 * * 3"
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write

jobs:
  office-hour-reminder:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 #2.14.0
        with:
          egress-policy: audit

      - name: Check Schedule and Notify
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DRY_RUN: "true"
        run: |
          bash ./scripts/office_hour_reminder.sh
