name: Publish to PyPI

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read

jobs:
  build-and-publish:
    runs-on: hl-sdk-py-lin-md
    environment:
      name: pypi
      url: https://pypi.org/p/hiero-sdk-python
    permissions:
      id-token: write
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0

      - name: Upgrade pip
        run: pip install --upgrade pip

      - name: Install build, pdm-backend, and grpcio-tools
        run: pip install build pdm-backend "grpcio-tools==1.68.1"

      - name: Generate Protobuf
        run: python generate_proto.py

      - name: Build wheel and sdist
        run: python -m build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # release/v1
