name: "Bot: Working On Comment"

on:
  issue_comment:
    types: [created]

permissions:
  issues: write
  pull-requests: write
  contents: read

jobs:
  working-command:
    runs-on: ubuntu-latest
    concurrency:
      group: working-command-${{ github.event.issue.number }}
      cancel-in-progress: false
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@4d991eb9b905ef189e4c376166672c3f2f230481
        with:
          egress-policy: audit

      - name: Checkout repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Handle /working command
        uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea
        with:
          script: |
            const handler = require('./.github/scripts/bot-working-on-comment.js')
            await handler({github, context})
